

body{


    }

nav{	
	color:  black;
	}

h2, h1{
	text-align: center;
}

h1{
	font-size: 22px;
	color: black;
	padding: 20px 0 20px 0 ;
}

h2{
	font-size: 16px;
	padding:  0;

}

.text-L{
	text-align: left;
}



.label-no{
	opacity: .05 !important;
}

.label-img{
	height: 25px;
	width:  auto;
}

.label{
	margin: 2px;
	border: none;
	background-color: none;
	padding: 5px 7px 5px 7px;
	color:  black;
	font-size: 14;
	border-radius: 100px;
}

.label-danger{
	background-color: red;
	color: white;
	border-radius: 5px;
}

.label-safe{
	background-color: green;
	color: white;
	border-radius: 5px;
}


.label-row, .label-img{
	margin-bottom: 10px;
}

.AUT-label{
	height: 25px;
}





.icbat, .btn-check:active+.btn-icbat, .btn-check:checked+.btn-icbat, .btn-icbat.active, .btn-icbat:active, .show>.btn-icbat.dropdown-toggle{
	background-color: blue;
	border-color: blue;
	color: white;

}


.ddu, .btn-check:active+.btn-DDU, .btn-check:checked+.btn-DDU, .btn-DDU.active, .btn-DDU:active, .show>.btn-DDU.dropdown-toggle{
	background-color: #FF01E4;
	border-color: #FF01E4;
	color: white;
}


.inpatient, .btn-check:active+.btn-inpatient, .btn-check:checked+.btn-inpatient, .btn-inpatient.active, .btn-inpatient:active, .show>.btn-inpatient.dropdown-toggle{
	background-color: mediumpurple;
	border-color: mediumpurple;
	color: white;
}

.cbat, .btn-check:active+.btn-cbat, .btn-check:checked+.btn-cbat, .btn-cbat.active, .btn-cbat:active, .show>.btn-cbat.dropdown-toggle{
	background-color: #FFAE01;
	border-color: #FFAE01;
	color: black;
}

.home, .btn-check:active+.btn-home, .btn-check:checked+.btn-home, .btn-home.active, .btn-home:active, .show>.btn-home.dropdown-toggle{
	background-color: white;
	border-color: black;
	color: black;
}

.any, .btn-check:active+.btn-any, .btn-check:checked+.btn-any, .btn-any.active, .btn-any:active, .show>.btn-any.dropdown-toggle{
	background-color: grey;
	border-color: grey;
	color: black;
}



img{
	width: 100%;
}
.care-space-btn{
	margin-top: 10px;
	width: 100%;
	padding: 10px 0 10px 0;

}

.card{
	font-size: 10px;
	text-align: left
}


.master-row{
	padding: 10px;
}

.cat-level-1{
	background-color: white;
	color: black;
	padding:  5px;

}

.Dashboard-key{
	background-color: white;
	padding: 20px;
	border: 1px;
	border-color: black;
	border-style: solid;
}


.cat-level-2{
	background-color:white;
	color: black;
	margin-bottom: 10px;

}

.cat-level-3{
	background-color: none;
	color: black;
	height:  auto;
	border-radius: 10px;
	padding:  5px;
}

.cat-top-labels{
	padding: 5px;
	text-align: center;
	margin: 10px;
}



.patient{
	width: 47%;
	background-color: white;
	color: black;
	margin: 5px;
	padding: 0;
	text-align: center;
	float: left;
	display: inline-block;
	border: 1px solid black;
}

.boarding-days{
	padding:5px;
	text-align: left;
}


.wrap{
	border: 1px solid blue;
}

.AUt-label{
	height: 15px;
	margin: 5px 0 0 5px;
	float: right;
}

.label-sitter{
	background-color: black;
	color:  white;
	border-radius: 10px;
	font-size:  12px;
	padding: 0 5px 0 5px;
	margin-top: 2.5px;
	float: right;
}


.btn-group-vertical>.btn, .btn-group>.btn{
	flex: 0;
}


div.btn-group {
    margin: 0 auto; 
    text-align: center;
    width: inherit;
    display: inline-block;
}




@media (min-width: 768px) {
  .collapse.dont-collapse-sm {
    display: block;
    height: auto !important;
    visibility: visible;
  }
  
}

.navbar{
	background-color: blue;
}

.kpi{
	float: left;
	text-align: center;
	padding: 10px;
}

.kpi-numbers{
	font-size: 40px;
	font-weight: 100;
}

.data-graph{
	padding: 30px;
}
