

body{
        padding: 20px;

    }

nav{	
	color:  black;
	}

h2, h1{
	text-align: center;
}

h1{
	font-size: 22px;
	color: black;
	padding: 20px 0 20px 0 ;
}

h2{
	font-size: 16px;
	padding:  0;

}

.text-L{
	text-align: left;
}



.label-no{
	opacity: .05 !important;
}

.label-img{
	height: 25px;
	width:  auto;
}

.label{
	margin: 2px;
	border: none;
	background-color: none;
	padding: 5px;
	color:  black;
}

.label-danger{
	background-color: red;
	color: white;
	border-radius: 5px;
}

.label-safe{
	background-color: green;
	color: white;
	border-radius: 5px;
}


.label-row, .label-img{
	margin-bottom: 10px;
}


.btn-check:active+.btn-icbat, .btn-check:checked+.btn-icbat, .btn-icbat.active, .btn-icbat:active, .show>.btn-icbat.dropdown-toggle{
	background-color: blue;
	border-color: blue;
	color: white;

}


.btn-check:active+.btn-DDU, .btn-check:checked+.btn-DDU, .btn-DDU.active, .btn-DDU:active, .show>.btn-DDU.dropdown-toggle{
	background-color: #FF01E4;
	border-color: #FF01E4;
	color: white;
}


.btn-check:active+.btn-inpatient, .btn-check:checked+.btn-inpatient, .btn-inpatient.active, .btn-inpatient:active, .show>.btn-inpatient.dropdown-toggle{
	background-color: mediumpurple;
	border-color: mediumpurple;
	color: white;
}

.btn-check:active+.btn-cbat, .btn-check:checked+.btn-cbat, .btn-cbat.active, .btn-cbat:active, .show>.btn-cbat.dropdown-toggle{
	background-color: #FFAE01;
	border-color: #FFAE01;
	color: black;
}





.care-space-btn{
		margin-top: 10px;
	width: 100%;
	padding: 10px 0 10px 0;

}


.master-row{
	padding: 10px;
}

.cat-level-1{
	background-color: white;
	color: black;
	padding:  5px;

}

.Dashboard-key{
	background-color: white;
	padding: 20px;
	border: 1px;
	border-color: black;
	border-style: solid;
}


.cat-level-2{
	background-color: white;
	color: black;

	margin-bottom: 10px;

}

.cat-level-3{
	background-color: none;
	color: black;
	height:  auto;
	border-radius: 10px;
	padding:  5px;
}

.cat-top-labels{
	padding: 5px;
	text-align: center;
	margin: 10px;
}



.patient{
	background-color: white;
	color: black;
	border-style:  solid !important;
	margin:  0;
	border-color: #c4c4c4;
	border: 1px;
	padding:  0;
	text-align: center;
	float: left;
}

.boarding-days{
	background-color: #FFAE01;
	color: black;
	padding: 4 0 4 0;
}


@media (min-width: 768px) {
  .collapse.dont-collapse-sm {
    display: block;
    height: auto !important;
    visibility: visible;
  }
  
}

.navbar{
	background-color: blue;
}
